{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "arrowParens": "always",
  "useEditorConfig": false,
  "printWidth": 240,
  "useTabs": false,
  "ignoreChainWithDepth": 20,
  "newline-per-chained-call": true,
  "bracketSameLine": true,
  "endOfLine": "lf"
}
